.product-image img{
    width: 200px;
}
.product{
    display: flex;
    border-bottom: 1px solid rgb(166, 166, 166);
    margin-right: 5px;
    margin-left: 100px;

}

.product-details{
    margin-left: 50px;
    padding: 20px;
}
.main-button{
    background-color: salmon;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
}